# folder
dps/
korean_data/
af_dps/
00_QLoRa_fine_tune/example
00_QLoRa_fine_tune/lora_merged_model
00_QLoRa_fine_tune/results
00_QLoRa_fine_tune/wandb
00_QLoRa_fine_tune/etc
00_QLoRa_fine_tune/checkpoint
00_QLoRa_fine_tune/outputs
01_chat_vector/models
01_chat_vector/test
ko-lm-evaluation-harness/
04_paper_practicing/01_translate_machine/korean_data
04_paper_practicing/01_translate_machine/checkpoint
04_paper_practicing/01_translate_machine/results
04_paper_practicing/01_translate_machine/test
04_paper_practicing/01_translate_machine/wandb
04_paper_practicing/01_translate_machine/data
05_RAG_practicing/datas


#file
.env
05_RAG_practicing/30. Test RAG from CSV.ipynb